[submodule "third_party/printf"]
	path = third_party/printf
	url = https://github.com/mpaland/printf.git
[submodule "third_party/cmock"]
	path = third_party/cmock
	url = https://github.com/ThrowTheSwitch/CMock.git
[submodule "third_party/doxygen_awesome"]
	path = third_party/doxygen_awesome
	url = https://github.com/jothepro/doxygen-awesome-css.git
